{% extends "base.html" %}

{% block breadcrumb %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{% url 'books:book-list' %}">Book List</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ excercise.chapter.book.get_absolute_url }}">
        {{ excercise.chapter.book.titile }}
        </a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ excercise.chapter.get_absolute_url }}">
        {{ excercise.chapter.titile }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {{ exercise.title }}
    </li>

{% endblock breadcrumb %}

{% block content %}
        <h1>This is the exercise detail</h1>
        <p>{{ exercise.title }}</p>
        <p>This chapter falls under the chapter {{ exercise.chapter.title }}</p>
        <p>This chapter falls under the book {{ exercise.chapter.book.title }}</p>
{% endblock content %}
